/*@font-face {*/
    /*font-family: 'tipograf';*/
    /*src: url('../fonts/tipograflightwebfont.eot');*/
    /*src: url('../fonts/tipograflightwebfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('../fonts/tipograflightwebfont.woff') format('woff'),*/
         /*url('../fonts/tipograflightwebfont.ttf') format('truetype'),*/
         /*url('../fonts/tipograflightwebfont.svg#tipograflight') format('svg');*/
    /*font-weight: 300;*/
    /*font-style: normal;*/
/*}*/
/*@font-face {*/
    /*font-family: 'tipograf';*/
    /*src: url('../fonts/tipografboldwebfont.eot');*/
    /*src: url('../fonts/tipografboldwebfont.eot?#iefix') format('embedded-opentype'),*/
         /*url('../fonts/tipografboldwebfont.woff') format('woff'),*/
         /*url('../fonts/tipografboldwebfont.ttf') format('truetype'),*/
         /*url('../fonts/tipografboldwebfont.svg#tipograflight') format('svg');*/
    /*font-weight: 700;*/
    /*font-style: normal;*/
/*}*/