.s-made
  background url("../img/fon1.jpg")
  background-size cover
  padding: 285px 0 302px;
  text-align: center
  &__title
    font-size 78px
    color #FFFFFF
    margin-bottom 15px;
    text-transform: uppercase
  &__text
    font-size 24px
    color #a3b1bf
    line-height: 30px
    max-width: 970px
    margin: 0 auto 62px;
  &__link
    vam()
    font-size 16px
    color: #FFFFFF;
    min-width: 295px;
    padding 0 15px
    line-height: 65px;
    background #00bc9c
    border-radius 5px
    text-transform: uppercase

@media only screen and (max-width: 1000px)
  .s-made
    padding: 30px 0;

  .s-made__title
    font-size 30px

  .s-made__text
    font-size 14px
    margin-bottom: 30px


@media only screen and (max-width: 767px)
  .s-made__link
    line-height: 35px
    min-width: 195px;
    font-size 14px


