mixin s-made()
    section.s-made
        .container
            h3.s-made__title Made for Designers
            p.s-made__text Create your online portfolio in minutes with the professionally and lovingly designed REEN website template. Customize your site with versatile and easy to use features.
            a.s-made__link(href='#') Get started now
