include ../common/jade/mixins

doctype html
html
    include ../common/jade/head
    body.p-index
        include ../components/etc/noindex-svg
        .wrapper
            +s-header()
            .wrapper__content
            +s-made()
            +s-beautiful()
            +s-checkout()
            +s-want()
            +s-footer()

        +scripts()
