mixin s-footer()
    footer.s-footer
        .s-footer__top
            .container
                .s-footer__top-body
                    +b-whoweare()
                    +b-latestworks()
                    +b-getintouch()
                    +b-freeupdates()
        .s-footer__bottom
            .container
                .s-footer__bottom-text © 2014 REEN. All rights reserved.
                +m-downsite()
