.s-footer
  &__top
    background #2f4052
    padding: 75px 0 72px;
    &-body
      display: flex
      justify-content: space-between;
  &__bottom
    background #283645
    padding: 16px 0;
    .container
      display: flex
      justify-content: space-between;
      align-items: center;
    &-text
      font-size 14px
      color #707e8c



@media only screen and (max-width: 1150px)
  .b-whoweare,
  .b-latestworks,
  .b-getintouch,
  .b-freeupdates
    max-width 100%
    vam()
    padding-left: 0
    margin-bottom: 30px

  .s-footer__top-body
    display: block
    font-size 0
    text-align: center

  .f-mail
    margin: 0 auto;

  .b-latestworks__body
    display: block
    font-size 0

  .b-latestworks__link:not(:first-child)
    margin-left: 5px

@media only screen and (max-width: 650px)
  .b-latestworks__link

  .b-latestworks__body
    font-size 0

  .m-downsite,
  .s-footer__bottom-text,
  .s-footer__bottom .container
    display: block
    text-align: center

