mixin b-whoweare()
    .b-whoweare
        h3.b-whoweare__title Who we are
        a.b-whoweare__logo-link(href='#')
            img.b-whoweare__logo-img(src='../assets/img/footlogo.png')
        p.b-whoweare__text Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.
        a.b-whoweare__link(href='#') More about us
