.b-whoweare
  max-width 25%
  &__title
    font-size 16px
    text-transform: uppercase
    color #FFFFFF
    margin-bottom: 21px
  &__logo-link
    vam()
    margin-bottom: 20px;
  &__logo-img
    vam()
    width: 100%
  &__text
    font-size 14px
    color #a3b1bf
    line-height: 22px
    margin-bottom: 15px;
  &__link
    vam()
    font-size 15px
    color #a3b1bf
