.s-beautiful
  padding: 123px 0;
  text-align: center
  &__title
    font-size 44px
    color #506a85
    letter-spacing -1px
    margin-bottom: 25px
  &__text
    max-width 820px
    color #506a85
    text-align: center
    line-height: 34px
    margin: 0 auto 70px;
    font-size 22px
  &__body
    display: flex
  &__wrap
    text-align: left;
    padding-left: 100px
    position: relative
    &._lamp
      padding-left: 114px
    &._star
      padding-left: 110px
    &-title
      font-size 26px
      color #506a85
      margin-bottom: 22px;
    &-text
      font-size 16px
      color #506a85
      line-height: 25px
    &:before
      ps()
    &._heart:before
      sprite($heart)
      top: 3px
      left: 7px
    &._lamp:before
      sprite($lamp)
      top: 3px
      left: 41px
    &._star:before
      sprite($star)
      top: 3px
      left: 35px

@media only screen and (max-width: 900px)
  .s-beautiful
    padding: 30px 0;

  .s-beautiful__title
    font-size 25px

  .s-beautiful__text
    font-size: 16px
    line-height: 22px

  .s-beautiful__wrap,
  .s-beautiful__body
    display: block
    text-align: center

  .s-beautiful__wrap._heart:before,
  .s-beautiful__wrap._lamp:before,
  .s-beautiful__wrap._star:before
    display: none

  .s-beautiful__wrap,
  .s-beautiful__wrap._lamp,
  .s-beautiful__wrap._star
    padding-left: 0

  .s-beautiful__wrap:not(:last-child)
    margin-bottom: 20px

  .s-beautiful__text
    margin-bottom: 30px

  .s-beautiful__wrap-title
    margin-bottom: 15px
































