mixin s-beautiful()
    section.s-beautiful
        .container
            h3.s-beautiful__title Beautiful. Clean. Responsive.
            p.s-beautiful__text REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.
            .s-beautiful__body
                .s-beautiful__wrap._heart
                    h4.s-beautiful__wrap-title Passion
                    p.s-beautiful__wrap-text Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
                .s-beautiful__wrap._lamp
                    h4.s-beautiful__wrap-title Creativity
                    p.s-beautiful__wrap-text Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
                .s-beautiful__wrap._star
                    h4.s-beautiful__wrap-title Quality
                    p.s-beautiful__wrap-text Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.
