.m-site
  &__li
    vam()
    &:not(:first-child)
      margin-left: 43px
  &__link
    vam()
    font-size 15px
    font-weight: bold
    text-transform: uppercase
    color #506a85




























