mixin m-site()
    ul.m-site(role='navigation')
        - var site = ['Home', 'Portfolio', 'Blog', 'Pages', 'Features', 'Mega menu', 'Contact']
        - for (var i = 0; i < site.length; i++)
            li.m-site__li
                a.m-site__link(href='#') #{site[i]}





