.b-getintouch
  max-width: 25%
  padding-left: 14px;
  &__title
    font-size 16px
    text-transform: uppercase
    color #FFFFFF
    margin-bottom: 15px
  &__text
    font-size 14px
    color #a3b1bf
    line-height: 22px
    margin-bottom: 20px
  &__address
  &__link-phone
    display: block
    font-size 14px
    color #a3b1bf
    padding-left: 20px
    margin-bottom: 6px
  &__link-email
    display: block
    font-size 14px
    color #a3b1bf
    padding-left: 20px

