mixin b-getintouch()
    .b-getintouch
        h3.b-getintouch__title Get in touch
        p.b-getintouch__text Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.
        .b-getintouch__address 84 Street, City, State 24813
        a.b-getintouch__link-phone(href='+00(123)4567890') +00 (123) 456 78 90
        a.b-getintouch__link-email(href='info@reen.com') info@reen.com
