mixin m-social()
    ul.m-social
        - var socials = ['facebook', 'google', 'twitter', 'pinterest', 'behance', 'dribbble']
        - for (var i = 0; i < socials.length; i++)
            li.m-social__li
                a.m-social__link(href='#')
                    +svg(socials[i])
