noindex(style='overflow: hidden; position: absolute; width: 100%; height: 0; pointer-events: none;')
    svg(style='position: absolute;')

        symbol(id='svg-logo' viewbox='0 0 16.5 16.5')
            title#title-logo Electra logo
            desc#desc-logo Blue circle
            path(d='M14.084 2.417C12.526.857 10.454 0 8.25 0 6.047 0 3.975.858 2.416 2.417.858 3.974 0 6.047 0 8.25s.858 4.274 2.416 5.833c1.56 1.56 3.63 2.417 5.834 2.417 2.203 0 4.275-.858 5.834-2.417 3.215-3.217 3.215-8.45 0-11.666zm-1.06 10.606C11.748 14.298 10.054 15 8.25 15s-3.498-.702-4.773-1.978C2.202 11.747 1.5 10.052 1.5 8.25s.702-3.5 1.977-4.773C4.752 2.202 6.447 1.5 8.25 1.5s3.498.702 4.773 1.977c2.63 2.63 2.63 6.914 0 9.546zM11.73 5.37L8.977 8.12l2.75 2.75-1.06 1.062-2.75-2.75-2.752 2.75-1.06-1.06 2.75-2.75-2.75-2.75 1.06-1.062 2.75 2.75 2.75-2.75 1.063 1.06z')

        symbol(id="svg-facebook" viewbox='0 0 96.124 96.123')
            path(d='M72.09.02L59.623 0C45.62 0 36.57 9.285 36.57 23.656v10.907H24.037c-1.083 0-1.96.878-1.96 1.96v15.804c0 1.083.878 1.96 1.96 1.96H36.57v39.876c0 1.083.877 1.96 1.96 1.96h16.352c1.083 0 1.96-.878 1.96-1.96V54.287h14.654c1.083 0 1.96-.877 1.96-1.96l.006-15.803c0-.52-.207-1.018-.574-1.386-.367-.368-.867-.575-1.387-.575H56.843v-9.246c0-4.444 1.06-6.7 6.848-6.7l8.397-.003c1.082 0 1.96-.878 1.96-1.96V1.98c0-1.08-.877-1.958-1.958-1.96z')

        symbol(id="svg-google" viewbox='0 0 475.092 475.092')
            path(d='M273.372 302.498c-5.04-6.762-10.608-13.045-16.7-18.842-6.09-5.804-12.183-11.088-18.27-15.845-6.093-4.756-11.66-9.328-16.703-13.708-5.043-4.374-9.136-8.945-12.276-13.702-3.14-4.757-4.71-9.61-4.71-14.558 0-6.855 2.19-13.278 6.566-19.274 4.377-5.996 9.707-11.8 15.986-17.417 6.28-5.616 12.56-11.752 18.844-18.414 6.276-6.665 11.604-15.465 15.985-26.412 4.373-10.944 6.563-23.458 6.563-37.542 0-16.75-3.713-32.835-11.136-48.25-7.423-15.418-17.89-27.412-31.405-35.976h38.54L303.2 0H178.44c-17.698 0-35.497 1.906-53.383 5.72-26.453 5.9-48.723 19.368-66.806 40.397-18.08 21.033-27.12 44.873-27.12 71.52 0 28.17 10.137 51.583 30.405 70.233 20.27 18.65 44.585 27.978 72.945 27.978 5.71 0 12.37-.478 19.985-1.427-.38 1.522-1.043 3.568-1.997 6.137s-1.715 4.62-2.286 6.14c-.57 1.52-1.047 3.375-1.425 5.566-.382 2.19-.57 4.428-.57 6.71 0 12.563 6.085 26.744 18.27 42.54-14.465.388-28.737 1.67-42.825 3.86-14.084 2.19-28.833 5.617-44.252 10.28-15.417 4.662-29.217 11.42-41.396 20.27-12.182 8.855-21.317 19.367-27.408 31.55C3.533 361.56.01 374.405.01 386.017c0 12.75 2.857 24.314 8.565 34.69 5.708 10.37 13.035 18.842 21.982 25.406 8.945 6.57 19.273 12.083 30.978 16.562 11.704 4.47 23.315 7.66 34.83 9.562 11.515 1.903 22.887 2.854 34.118 2.854 51.007 0 90.98-12.463 119.91-37.396 26.647-23.223 39.97-50.062 39.97-80.517 0-10.855-1.57-20.984-4.712-30.41-3.14-9.43-7.23-17.513-12.278-24.27zm-110.06-103.776c-9.708 0-18.938-2.475-27.695-7.426-8.757-4.95-16.18-11.374-22.27-19.273-6.088-7.898-11.418-16.796-15.987-26.695-4.567-9.896-7.944-19.792-10.135-29.692-2.19-9.895-3.284-19.318-3.284-28.265 0-18.27 4.855-33.973 14.563-47.107 9.705-13.134 23.41-19.7 41.112-19.7 12.563 0 23.935 3.898 34.118 11.703 10.183 7.804 18.177 17.7 23.984 29.692 5.802 11.99 10.277 24.407 13.417 37.257 3.14 12.847 4.71 24.983 4.71 36.403 0 19.036-4.138 34.317-12.418 45.833-8.282 11.514-21.65 17.272-40.115 17.272zm78.94 214.4c-5.23 8.95-12.32 15.94-21.268 20.982-8.946 5.048-18.51 8.758-28.693 11.14-10.182 2.385-20.888 3.572-32.12 3.572-12.18 0-24.27-1.43-36.257-4.284-11.99-2.85-23.46-7.187-34.403-12.99-10.944-5.8-19.795-13.8-26.55-23.983-6.758-10.185-10.136-21.745-10.136-34.69 0-11.42 2.568-21.602 7.708-30.55 5.142-8.946 11.71-16.085 19.702-21.41 7.994-5.33 17.32-9.712 27.98-13.13 10.66-3.433 20.936-5.808 30.832-7.14 9.895-1.334 19.985-1.994 30.262-1.994 6.283 0 11.043.19 14.277.567 1.143.767 4.043 2.76 8.708 5.996s7.804 5.427 9.423 6.57c1.615 1.136 4.567 3.325 8.85 6.562 4.28 3.237 7.327 5.66 9.135 7.28 1.804 1.617 4.422 4.044 7.85 7.278 3.424 3.237 5.948 6.043 7.566 8.422 1.615 2.378 3.616 5.28 5.996 8.702 2.38 3.433 4.043 6.715 4.998 9.855.948 3.14 1.854 6.566 2.707 10.276.855 3.72 1.283 7.57 1.283 11.57.005 11.987-2.613 22.456-7.85 31.397z')
            path(d='M401.998 73.09V0h-36.55v73.09h-73.09v36.546h73.09v73.09H402v-73.09h73.083V73.09')

        symbol(id="svg-twitter" viewbox='0 0 612 612')
            path(d='M612 116.258c-22.525 9.98-46.694 16.75-72.088 19.772 25.93-15.527 45.777-40.155 55.184-69.41-24.322 14.378-51.17 24.82-79.775 30.48-22.906-24.438-55.49-39.66-91.63-39.66-69.333 0-125.55 56.218-125.55 125.514 0 9.828 1.11 19.427 3.25 28.606-104.325-5.24-196.834-55.223-258.75-131.174-10.822 18.51-16.98 40.078-16.98 63.1 0 43.56 22.182 81.994 55.836 104.48-20.575-.688-39.926-6.348-56.867-15.756v1.568c0 60.806 43.29 111.554 100.692 123.104-10.517 2.83-21.607 4.398-33.08 4.398-8.107 0-15.947-.803-23.634-2.333 15.985 49.907 62.336 86.2 117.253 87.194-42.946 33.655-97.098 53.656-155.915 53.656-10.134 0-20.116-.612-29.944-1.72 55.568 35.68 121.537 56.484 192.44 56.484 230.947 0 357.187-191.29 357.187-357.188l-.42-16.253C573.87 163.525 595.21 141.42 612 116.257z')

        symbol(id="svg-pinterest" viewbox='0 0 543.906 543.906')
            path(d='M271.96 0C121.77 0 0 121.753 0 271.953c0 111.354 66.966 207.022 162.786 249.082-.767-18.993-.136-41.788 4.732-62.446 5.227-22.084 34.995-148.188 34.995-148.188s-8.692-17.356-8.692-43.028c0-40.298 23.362-70.398 52.45-70.398 24.737 0 36.686 18.58 36.686 40.826 0 24.867-15.86 62.06-24.013 96.51-6.815 28.855 14.462 52.38 42.925 52.38 51.53 0 86.23-66.178 86.23-144.588 0-59.6-40.145-104.212-113.16-104.212-82.493 0-133.887 61.52-133.887 130.233 0 23.693 6.985 40.407 17.928 53.34 5.03 5.946 5.733 8.334 3.91 15.154-1.304 5.003-4.3 17.05-5.54 21.83-1.812 6.887-7.393 9.35-13.615 6.8-37.997-15.512-55.696-57.116-55.696-103.892 0-77.25 65.155-169.884 194.37-169.884 103.832 0 172.157 75.13 172.157 155.786 0 106.682-59.308 186.38-146.74 186.38-29.356 0-56.98-15.87-66.44-33.896 0 0-15.79 62.658-19.134 74.755-5.765 20.967-17.05 41.93-27.375 58.257 24.47 7.218 50.306 11.15 77.082 11.15 150.183 0 271.948-121.76 271.948-271.953C543.905 121.754 422.142 0 271.96 0')

        symbol(id="svg-behance" viewbox='0 0 430.123 430.123')
            path(d='M388.432 119.12H280.66V92.35h107.78v26.77h-.008zm-179.52 109.775c6.954 10.77 10.43 23.85 10.43 39.203 0 15.878-3.92 30.122-11.89 42.704-5.07 8.326-11.367 15.36-18.932 21.02-8.52 6.55-18.607 11.04-30.203 13.438-11.633 2.403-24.224 3.617-37.787 3.617H0V81.247h129.25c32.58.53 55.676 9.97 69.315 28.506 8.184 11.37 12.24 25.01 12.24 40.868 0 16.363-4.105 29.455-12.37 39.402-4.596 5.577-11.387 10.65-20.377 15.23 13.617 4.984 23.95 12.834 30.854 23.643zM61.722 186.76h56.632c11.638 0 21.046-2.212 28.292-6.634 7.24-4.415 10.854-12.263 10.854-23.53 0-12.45-4.784-20.713-14.375-24.69-8.244-2.763-18.792-4.186-31.59-4.186H61.72v59.04zm101.23 77.515c0-13.902-5.68-23.513-17.022-28.67-6.342-2.93-15.29-4.43-26.763-4.536H61.722v71.32h56.556c11.62 0 20.612-1.52 27.102-4.693 11.704-5.834 17.573-16.937 17.573-33.422zm265.467-43.54c1.3 8.757 1.89 21.46 1.65 38.066H290.494c.77 19.267 7.42 32.74 20.035 40.45 7.607 4.835 16.83 7.196 27.63 7.196 11.388 0 20.67-2.88 27.815-8.797 3.893-3.138 7.327-7.566 10.296-13.153h51.16c-1.34 11.38-7.5 22.92-18.57 34.648-17.152 18.64-41.206 27.988-72.098 27.988-25.52 0-48.01-7.883-67.533-23.592C249.77 307.778 240 282.21 240 246.747c0-33.257 8.773-58.712 26.378-76.43 17.67-17.75 40.474-26.586 68.583-26.586 16.662 0 31.68 2.978 45.08 8.965 13.357 5.993 24.396 15.425 33.09 28.388 7.868 11.416 12.928 24.616 15.29 39.653zm-50.358 4.995c-.938-13.322-5.386-23.405-13.395-30.296-7.943-6.91-17.866-10.38-29.706-10.38-12.885 0-22.835 3.71-29.905 10.997-7.118 7.274-11.547 17.162-13.362 29.68h86.37z')

        symbol(id="svg-dribbble" viewbox='0 0 438.533 438.533')
            path(d='M409.133 109.203c-19.608-33.592-46.205-60.19-79.798-79.796C295.735 9.8 259.058 0 219.273 0c-39.78 0-76.47 9.8-110.063 29.407-33.595 19.604-60.192 46.2-79.8 79.796C9.8 142.8 0 179.49 0 219.267c0 39.78 9.804 76.463 29.407 110.062 19.607 33.59 46.204 60.188 79.8 79.797 33.596 19.605 70.282 29.407 110.062 29.407s76.47-9.802 110.064-29.407c33.593-19.602 60.19-46.206 79.795-79.798 19.602-33.597 29.402-70.285 29.402-110.063 0-39.782-9.8-76.472-29.4-110.064zM219.27 31.977c47.2 0 88.41 15.607 123.62 46.82l-3.568 4.993c-1.427 2.002-4.996 5.852-10.704 11.565-5.71 5.708-11.943 11.136-18.7 16.274-6.76 5.14-15.94 10.99-27.554 17.558-11.61 6.567-23.982 12.328-37.117 17.276-21.887-40.355-45.296-76.71-70.23-109.064 15.038-3.616 29.788-5.423 44.253-5.423zM72.524 103.06c18.27-23.026 40.537-40.73 66.806-53.1 23.6 31.405 46.82 67.38 69.662 107.92C151.13 173.11 93.46 180.723 35.978 180.72c6.094-28.74 18.275-54.63 36.546-77.66zM44.54 286.794c-8.376-21.412-12.563-43.923-12.563-67.527 0-2.666.098-4.665.286-5.996 68.905 0 132.955-8.847 192.15-26.552 6.09 11.8 11.135 22.364 15.132 31.693-.77.38-2 .807-3.713 1.284-1.72.476-2.953.806-3.72 1l-10.562 3.71c-7.236 2.666-16.708 7.235-28.41 13.703-11.703 6.478-24.122 14.182-37.256 23.13-13.134 8.95-26.696 20.797-40.684 35.553-13.99 14.75-25.743 30.59-35.26 47.53-15.227-16.94-27.026-36.12-35.4-57.526zM219.27 406.56c-44.54 0-84.32-14.277-119.343-42.825l4.283 3.142c6.66-14.66 16.462-28.746 29.408-42.257 12.944-13.51 25.41-24.413 37.4-32.695 11.992-8.274 25.03-16.077 39.116-23.414 14.084-7.322 23.69-11.99 28.835-13.982 5.14-1.998 9.232-3.572 12.277-4.716l.568-.287h.575c18.647 48.916 31.977 96.313 39.968 142.184-23.602 9.9-47.96 14.847-73.088 14.85zm157.606-86.08c-14.086 21.795-31.696 39.833-52.817 54.103-7.81-43.776-19.986-88.415-36.55-133.902 37.877-5.906 76.8-3.14 116.77 8.275-4.188 25.886-13.325 49.732-27.404 71.524zm26.83-103.782c-1.903-.378-4.285-.81-7.14-1.283-2.853-.473-6.33-1.047-10.423-1.713-4.087-.666-8.662-1.283-13.702-1.855-5.044-.57-10.42-1.093-16.135-1.57-5.708-.477-11.8-.854-18.268-1.142-6.48-.284-13.042-.428-19.705-.428-6.656 0-13.657.193-20.98.57-7.327.376-14.415 1.05-21.266 2-.575-.953-1.287-2.524-2.143-4.714-.855-2.187-1.48-3.855-1.848-4.997-3.62-7.994-7.81-17.036-12.573-27.12 13.134-5.334 25.652-11.47 37.555-18.42 11.892-6.948 21.402-13.13 28.544-18.554 7.14-5.43 13.896-11.188 20.27-17.277 6.38-6.09 10.514-10.323 12.424-12.703 1.906-2.384 3.713-4.714 5.424-6.995l.287-.288c27.788 33.88 41.974 72.896 42.538 117.058l-2.857-.57z')

        symbol(id="svg-phone" viewbox='0 0 792 792')
            path(d='M521.806 792s71.89 0 71.89-71.997V71.997C593.693 0 521.805 0 521.805 0H270.194s-71.89 0-71.89 71.997v648.006C198.307 792 270.195 792 270.195 792h251.612zM396 762.022c-19.84 0-35.944-16.104-35.944-35.944 0-19.842 16.103-35.944 35.944-35.944 19.842 0 35.944 16.103 35.944 35.944 0 19.84-16.102 35.944-35.944 35.944zM342.083 43.888c0-4.457 2.12-7.944 4.78-7.944h98.272c2.624 0 4.78 3.56 4.78 7.944v2.12c0 4.458-2.156 7.945-4.78 7.945h-98.272c-2.624 0-4.78-3.56-4.78-7.944v-2.122zM234.25 89.86h323.5v575.112h-323.5V89.862z')






















