mixin l-pagination()
    ul.l-pagination(role='navigation' aria-label='ניווט בתוצאות החיפוש')
        li.l-pagination__li
            a.l-pagination__arrow._prev(href='#' aria-disabled='true' aria-label='עבור אל התוצאה הקודמת'  )
        li.l-pagination__li
            a.l-pagination__page._active(href='#' aria-label='עבור  לדף תוצאות 1 מתוך 5') 1
        li.l-pagination__li
            a.l-pagination__page(href='#' aria-label='עבור  לדף תוצאות 2 מתוך 5') 2
        li.l-pagination__li
            a.l-pagination__page(href='#' aria-label='עבור  לדף תוצאות 3 מתוך 5') 3
        li.l-pagination__li
            a.l-pagination__page(href='#' aria-label='עבור  לדף תוצאות 4 מתוך 5') 4
        li.l-pagination__li
            a.l-pagination__page(href='#' aria-label='עבור  לדף תוצאות 5 מתוך 5') 5
        li.l-pagination__li
            a.l-pagination__arrow._next(href='#' aria-disabled='false' aria-label='עבור לדף התוצאות הבא')

