mixin scripts(page)
    if page == 'contact'
        script.
            var map,
                    mapObj = document.getElementById('map');
            function initMap() {
                if (mapObj) {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: 32.0619503, lng: 34.7706303},
                        zoom: 15
                    });
                    var marker = new google.maps.Marker({
                        position: {lat: 32.0619503, lng: 34.7706303},
                        map: map,
                        title: 'Nahalat Binyamin St 75'
                    });
                }
            }
        script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false&callback=initMap')

    script(src='../assets/js/vendor/device.min.js')
    //script(src='../assets/js/vendor/jquery-1.12.4.min.js')
    script(src='../assets/js/vendor/jquery-2.2.4.min.js')
    script(src='../assets/js/vendor/ib-detect.js')
    //script(src='../assets/js/vendor/jquery.ib-validation.js')
    //script(src='../assets/js/vendor/jquery.formstyler.min.js')
    //script(src='../assets/js/vendor/jquery-ui.1.11.4.min.js')
    //script(src='../assets/js/vendor/jquery.ui.touch-punch.0.2.3.min.js')
    //script(src='../assets/js/vendor/jquery.maskedinput.min.js')
    //script(src='../assets/js/vendor/owl.carousel.min.js')
    //script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')

    script(src='../assets/js/main.js')