mixin b-latestworks()
    .b-latestworks
        h3.b-latestworks__title Latest works
        .b-latestworks__body
            a.b-latestworks__link(href='#')
                img.b-latestworks__img(src='http://placehold.it/125x85')
            a.b-latestworks__link(href='#')
                img.b-latestworks__img(src='http://placehold.it/125x85')
            a.b-latestworks__link(href='#')
                img.b-latestworks__img(src='http://placehold.it/125x85')
            a.b-latestworks__link(href='#')
                img.b-latestworks__img(src='http://placehold.it/125x85')
