form.f-default
    .f-default__title
    .f-default__row
        label.f-default__label
        input.f-default__input(type='text' name='firstName')
    .f-default__row
        label.f-default__label
        input.f-default__input(type='email' name='email')
    .f-default__row
        label.f-default__label
        input.f-default__input(type='tel' name='phone')
    .f-default__row
        .f-default__ck
            input#ck1(type='tel' name='greeting')
            label(for='ck1')
    .f-default__row
        input.btn-a.js-submit(type='submit' value='Отправить')