mixin l-social()
    ul.l-social(role='navigation' aria-label "תפריט ראשי")
        li.l-social__li
            a.l-social__link(href='#' target='_blank')
                +svg('fb')
        li.l-social__li
            a.l-social__link(href='#' target='_blank')
                +svg('ig')