/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$developer_name = 'developer';
$developer_x = 81px;
$developer_y = 73px;
$developer_offset_x = -81px;
$developer_offset_y = -73px;
$developer_width = 36px;
$developer_height = 36px;
$developer_total_width = 164px;
$developer_total_height = 138px;
$developer_image = '../img/sprite.png';
$developer = 81px 73px -81px -73px 36px 36px 164px 138px '../img/sprite.png' 'developer';
$heart_name = 'heart';
$heart_x = 0px;
$heart_y = 0px;
$heart_offset_x = 0px;
$heart_offset_y = 0px;
$heart_width = 61px;
$heart_height = 53px;
$heart_total_width = 164px;
$heart_total_height = 138px;
$heart_image = '../img/sprite.png';
$heart = 0px 0px 0px 0px 61px 53px 164px 138px '../img/sprite.png' 'heart';
$konvert_name = 'konvert';
$konvert_x = 81px;
$konvert_y = 129px;
$konvert_offset_x = -81px;
$konvert_offset_y = -129px;
$konvert_width = 11px;
$konvert_height = 9px;
$konvert_total_width = 164px;
$konvert_total_height = 138px;
$konvert_image = '../img/sprite.png';
$konvert = 81px 129px -81px -129px 11px 9px 164px 138px '../img/sprite.png' 'konvert';
$lamp_name = 'lamp';
$lamp_x = 0px;
$lamp_y = 73px;
$lamp_offset_x = 0px;
$lamp_offset_y = -73px;
$lamp_width = 46px;
$lamp_height = 65px;
$lamp_total_width = 164px;
$lamp_total_height = 138px;
$lamp_image = '../img/sprite.png';
$lamp = 0px 73px 0px -73px 46px 65px 164px 138px '../img/sprite.png' 'lamp';
$sotovii_name = 'sotovii';
$sotovii_x = 157px;
$sotovii_y = 0px;
$sotovii_offset_x = -157px;
$sotovii_offset_y = 0px;
$sotovii_width = 7px;
$sotovii_height = 13px;
$sotovii_total_width = 164px;
$sotovii_total_height = 138px;
$sotovii_image = '../img/sprite.png';
$sotovii = 157px 0px -157px 0px 7px 13px 164px 138px '../img/sprite.png' 'sotovii';
$star_name = 'star';
$star_x = 81px;
$star_y = 0px;
$star_offset_x = -81px;
$star_offset_y = 0px;
$star_width = 56px;
$star_height = 53px;
$star_total_width = 164px;
$star_total_height = 138px;
$star_image = '../img/sprite.png';
$star = 81px 0px -81px 0px 56px 53px 164px 138px '../img/sprite.png' 'star';
$spritesheet_width = 164px;
$spritesheet_height = 138px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $developer $heart $konvert $lamp $sotovii $star;
$spritesheet = 164px 138px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
