.s-want
  padding: 124px 0 130px;
  text-align: center
  &__title
    font-size 44px
    color #506a85
    text-align: center
    margin-bottom: 29px
  &__text
    font-size 22px
    color: #506a85;
    line-height: 30px
    max-width: 780px
    margin: 0 auto 40px;
    text-align: center
  &__link
    vam()
    min-width 150px
    line-height: 50px;
    background #00bc9c
    border-radius 4px
    color #FFFFFF
    font-size 15px
    text-transform: uppercase
    padding: 0 15px;


@media only screen and (max-width: 1000px)
  .s-want
    padding: 30px 0;

  .s-want__title
    font-size 25px
    margin-bottom: 20px

  .s-want__text
    font-size 16px
    line-height: 22px
    margin-bottom: 20px


































