mixin s-want()
    section.s-want
        .container
            h3.s-want__title Want to work with us?
            p.s-want__text Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.
            a.s-want__link(href='#') Get in touch
