.s-header
  &__top
    border-bottom: 2px solid #CCCCCC;
    background #f5f7fa
    .container
      display: flex
      justify-content: space-between;
      align-items: center
  &__bottom
    padding: 36px 0;
    .container
      display: flex
      justify-content: space-between;
      align-items: center


@media only screen and (max-width: 480px)
  .s-header__top .container,
  .b-contact,
  .m-social
    display: block
    text-align: center


@media only screen and (max-width: 1000px)
  .s-header__bottom .container,
  .b-logo,
  .m-site
    display: block
    text-align: center
    margin: 0 auto;


@media only screen and (max-width: 1000px)
  .b-logo
    margin-bottom: 20px


@media only screen and (max-width: 850px)
  .m-site__li:not(:first-child)
      margin-left: 15px


@media only screen and (max-width: 640px)
  .m-site__li
    display: block
    margin-bottom: 10px

  .m-site__li:not(:first-child)
    margin-left: 0




