mixin s-header()
    header.s-header
        .s-header__top
            .container
                +b-contact()
                +m-social()
        .s-header__bottom
            .container
                +b-logo()
                +m-site()

