mixin s-checkout()
    section.s-checkout
        .container
            h3.s-checkout__title Check out our latest works
            p.s-checkout__text Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.
            .s-checkout__body
                .s-checkout__wrap
                    img.s-checkout__wrap-img(src="http://placehold.it/570x390")
                    .s-checkout__wrap-description
                        h4.s-checkout__wrap-title Grand Motel gets an identity brushup
                        p.s-checkout__wrap-text Identity
                .s-checkout__wrap
                    img.s-checkout__wrap-img(src="http://placehold.it/570x390")
                    .s-checkout__wrap-description
                        h4.s-checkout__wrap-title Grand Motel gets an identity brushup
                        p.s-checkout__wrap-text Identity
            .s-checkout__samples
                - for (var i = 0; i < 4; i++)
                    a.s-checkout__samples-link(href='#')
                        img.s-checkout__samples-img(src="http://placehold.it/270x185")
            .s-checkout__links
                a.s-checkout__link(href='#')
                a.s-checkout__link._active(href='#')
                a.s-checkout__link(href='#')

















