.s-checkout
  background #f2f5f7
  padding: 124px 0 136px;
  &__title
    font-size 44px
    letter-spacing: 1px
    color #506a85
    margin-bottom 30px;
    text-align: center
  &__text
    font-size 22px
    color #73879c
    margin-bottom: 77px;
    text-align: center
  &__body
    display: flex
    justify-content: space-between;
    margin-bottom: 80px
  &__wrap
    text-align: center
    &-img
      vam()
      width: 100%
    &-description
      background #FFFFFF
      border-bottom: 1px solid #CCCCCC;
      padding 30px 0
    &-title
      font-size 20px
      color #506a85
      margin-bottom: 11px
    &-text
      font-size 14px
      color #73879c
  &__samples
    display: flex
    justify-content: space-between;
    align-items: center
    margin-bottom: 43px
    &-link
      vam()
    &-img
      vam()
      width: 100%
  &__links
    text-align: center
  &__link
    vam()
    width: 15px;
    height: 15px
    background #506a85
    border-radius 50%
    &:not(:first-child)
      margin-left: 5px
    &:hover,
    &._active
      background #00bc9c
      transition .3s


@media only screen and (max-width: 1200px)
  .s-checkout
    padding: 30px 0;

  .s-checkout__body
    display: block

  .s-checkout__wrap-img,
  .s-checkout__wrap-description
    width: 75%
    margin: 0 auto

  .s-checkout__wrap
    margin-bottom: 30px


@media only screen and (max-width: 1150px)
  .s-checkout__samples
    display: block
    font-size 0

  .s-checkout__samples-link
    width: 50%


@media only screen and (max-width: 850px)
  .s-checkout__title
    font-size 25px
    margin-bottom: 20px
    font-weight: bold

  .s-checkout__text
    font-size 16px
    margin-bottom: 50px

  .s-checkout__wrap-img,
  .s-checkout__wrap-description
    width: 100%


@media only screen and (max-width: 600px)
  .s-checkout__samples-link
    width: 100%














































