.f-mail
  max-width 270px
  font-size 0
  position: relative
  &__field
    vam()
    width: 100%
    height: 40px;
    background #4e5c6c
    border-radius 5px
    font-size 14px
    padding: 0 5px;

  &__button
    vam()
    min-width: 80px
    height: 29px;
    background #00bc9c
    padding: 0 10px;
    font-size 12px
    text-transform: uppercase
    color #FFFFFF
    border-radius 5px
    position: absolute
    right: 4px
    top: 6px

