.b-contact
  &__link
    vam()
    font-size 11px
    color #506a85
    line-height: 40px
    &+&
      margin-left: 40px
    &._konvert
      padding-left: 20px
      position: relative
      &:before
        ps()
        sprite($konvert)
        top: 15px
        left: 0
    &._phone
      position: relative

