mixin b-contact()
    .b-contact
        a.b-contact__link._konvert(href='mainto:info@reen.com' rel='nofollow') info@reen.com
        a.b-contact__link._phone(href='tel:+001234567890' rel='nofollow') +00 (123) 456 78 90
            +svg('phone')
