.b-freeupdates
  max-width: 25%
  padding-left: 22px;
  &__title
    font-size 16px
    text-transform: uppercase
    color #FFFFFF
    margin-bottom: 15px
  &__text
    font-size 14px
    color #a3b1bf
    margin-bottom: 15px
    line-height: 22px


