mixin b-freeupdates()
    .b-freeupdates
        h3.b-freeupdates__title Free updates
        p.b-freeupdates__text Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.
        +f-mail()

