.m-downsite
  &__li
    vam()
    position: relative
    &:not(:first-child)
      margin-left: 17px
      &:after
        ps()
        width: 3px
        height: 3px
        background #CCCCCC
        left: -14px
        top: 22px
        border-radius 50%
  &__link
    vam()
    line-height: 48px
    color #707e8c
    font-size 14px

