mixin m-downsite()
    ul.m-downsite(role='navigation')
        - var downsite = ['Home', 'Portfolio', 'Blog', 'About', 'Services', 'Contact']
        - for (var i = 0; i < downsite.length; i++)
            li.m-downsite__li
                a.m-downsite__link(href='#') #{downsite[i]}

