/*!wrappers, containers, cols & etc*/

.wrapper
  min-height 100%
  min-width 320px
  display: block
  display: flex
  flex-direction column
  align-items stretch
  &__content
    flex-grow 1

.container
  max-width 1200px
  min-width 320px
  margin 0 auto
  padding 0 15px
