.svg-facebook
  fill #506a85
  width: 11px
  height: 11px

.svg-google
  fill #506a85
  width: 11px
  height: 11px

.svg-twitter
  fill #506a85
  width: 11px
  height: 9px

.svg-pinterest
  fill #506a85
  width: 9px
  height: 11px

.svg-behance
  fill #506a85
  width: 13px
  height: 12px

.svg-dribbble
  fill #506a85
  width: 12px
  height: 11px

.svg-phone
  fill #506a85
  width: 13px
  height: 13px
  ps()
  top: 13px
  left: -15px










