include ../../../components/blocks/b-contact/b-contact
include ../../../components/blocks/b-logo/b-logo
include ../../../components/blocks/b-whoweare/b-whoweare
include ../../../components/blocks/b-latestworks/b-latestworks
include ../../../components/blocks/b-getintouch/b-getintouch
include ../../../components/blocks/b-freeupdates/b-freeupdates