include ../../../components/sections/s-header/s-header
include ../../../components/sections/s-footer/s-footer
include ../../../components/sections/s-index-a/s-index-a

include ../../../components/sections/s-made/s-made
include ../../../components/sections/s-beautiful/s-beautiful
include ../../../components/sections/s-checkout/s-checkout

include ../../../components/sections/s-want/s-want